<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="signin.component.css" />
		<title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> DormChat</h1>
			</header>
			<main class="join-main">
				<form>
					<div class="form-control">
						<label for="username">Username</label>
						<input
                            [(ngModel)]="username"
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="username">Admin Key</label>
						<input
                            [(ngModel)]="adminKey"
							type="text"
							name="username"
							id="username"
							placeholder="Enter adminKey..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select [(ngModel)]="room" name="room" id="room">
							<option value="Important Info">Important Info</option>
							<option value="General">General</option>
							<option value="WeeklyEvents">Weekly Events</option>
							<option value="1-on-1">1-on-1</option>
							<option value="Just for Fun">Just for Fun</option>
						</select>
					</div>
					<button (click)="submit()" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
	</body>
</html>
